### 변수, 문자열
- 정수형(int)
- 실수형(float)
- 문자형(str)
- 논리형(boolean)

### 인덱싱과 슬라이싱

In [1]:
"apple"[0]

'a'

In [2]:
["apple","banana","melon"][0]

'apple'

In [3]:
["apple","banana","melon"][0][0]

'a'

In [4]:
["appple", "banana", ["melon","watermelon"]][2]

['melon', 'watermelon']

In [5]:
["appple", "banana", ["melon","watermelon"]][2][1]

'watermelon'

In [6]:
["appple", "banana", ["melon","watermelon"]][2][1][0]

'w'

In [8]:
# melon "o" 출력
fruit = [["mango", "grape"],["appple", "banana", ["melon","watermelon"]]]
fruit[1][2][0][3]
# water 출력
fruit[1][2][1][:5]

'water'

In [10]:
# [a:b] a이상 b미만
# 오른쪽 본인 포함x
"watermelon"[:5]
"watermelon"[5:10]
"watermelon"[-5:]

'melon'

In [11]:
fruit1 = "망고"
fruit2 = "파인애플"
fruit3 = "멜론"

print("시장에 가면 {}이 있다.".format(fruit1))
print(f"시장에 가면 {fruit2}과 {fruit3}이 있다.")

시장에 가면 망고이 있다.
시장에 가면 파인애플과 멜론이 있다.

In [12]:
fruit = ["mango", "grape","appple", "banana","melon","watermelon"]
print("There is a {} in the market".format(fruit[0]))
print(f"There is a {fruit[0]} in the market.")

There is a mango in the market
There is a mango in the market

In [14]:
sentence = "There is a mango in the market."
# a의 개수
sentence.count("a")

3

In [15]:
sentence.find("a")

9

In [18]:
sentence.upper()
sentence.lower()

'there is a mango in the market.'

In [20]:
sentence.split()
sentence.split("a")

['There is ', ' m', 'ngo in the m', 'rket.']

In [23]:
fruit = ["mango", "grape","appple", "banana","melon","watermelon"]
sentence = "There is a mango in the market"

sentence.replace("mango","grape")
sentence.replace(fruit[0],fruit[1])
sentence.replace("market","")

'There is a mango in the '

In [24]:
num = 7
num += 7
#num = num + 7
num

14

In [27]:
print(7+7)
print("7" + "7")
print(int("7")+int("7"))

14
77
14

In [30]:
# len = 인덱스 개수
fruit = ["mango", "grape","appple", "banana","melon","watermelon"]
len(fruit)
len(fruit[0])

5

### 조건문

In [ ]:
if 명제:
    명제가 참일 때 실행하는 코드
else:
    명제가 거짓일 때 실행하는 코드

In [31]:
sutja = 3

if sutja%2 == 0:
    print("짝수입니다!")
else:
    print("홀수입니다!")

홀수입니다!

In [34]:
fruit = ["mango", "grape","appple", "banana","melon","watermelon"]
"mango" in fruit
# in 뒤는 인덱싱이 가능한 것
"m" in "mango"
"man" in "mango"

True

In [35]:
["mango", "grape"] in fruit

False

In [37]:
# 중의적 표현 x
"mango" and "grape" in fruit
("mango" in fruit) and ("grape" in fruit)
"mango" or "grape" in fruit
("mango" in fruit) or ("grape" in fruit)

True

In [41]:
lyrics = """너도 날 좋아할 줄은 몰랐어
어쩌면 좋아 너무나 좋아
꿈만 같아서 나 내 자신을
자꾸 꼬집어봐 너무나 좋아
니가 날 혹시 안 좋아할까봐
혼자 얼마나 애태운지 몰라
그런데 니가 날 사랑한다니
어머나 다시 한번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해 말해줘요
어쩜 내 가슴이 이렇게 뛰니
가슴이 정말 터질것 같아
니가 날 볼 때면 전기에
감전된 사람처럼 전기가 올라
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니
어머나 다시 한번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어
계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해 말해줘요
원더걸스
Tell me tell me tell me you
Want me want me want me too
Tell me tell me tell me you
Love me too love me too
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니
어머나 다시 한번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
Tell tell tell tell tell tell me
"""

In [39]:
if "tell me" in lyrics:
    print("제목이 가사에 포함되어 있다")
else:
    print("제목이 가사에 포함되어 있지 않습니다")

제목이 가사에 포함되어 있다

In [40]:
# \ = 줄 바꿈
# tell me 지우기

lyrics = lyrics.replace("\n"," ")
lyrics
lyrics = lyrics.lower()
lyrics = lyrics.replace("tell me","")
lyrics

'너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애태운지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐   tell tell tell tell tell  나를 사랑한다고 날 기다려왔다고   tell tell tell tell tell  내가 필요하다 말해 말해줘요   tell tell tell tell tell  자꾸만 듣고 싶어 계속 내게 말해줘   tell tell tell tell tell  꿈이 아니라고 말해 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐   tell tell tell tell tell  나를 사랑한다고 날 기다려왔다고   tell tell tell tell tell  내가 필요하다 말해 말해줘요   tell tell tell tell tell  자꾸만 듣고 싶어 계속 내게 말해줘   tell tell tell tell tell  꿈이 아니라고 말해 말해줘요 원더걸스    you want me want me want me too    you love me too love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐   tell tell tell tell tell  나를 사랑한다고 날 기다려왔다고   tell tell tell tell tell  내가 필요하다 말해 말해줘요   tell tell tell tell tell  자꾸만 듣고 싶어 계속 내게 말해줘   tell tell tell tell tell  꿈이 아니라고 말해 말해줘요   tell tell tell tell tell  tell tell tell tell tell  '

In [42]:
# 가리는 경우 tell me -> @@@@@@@
lyrics = lyrics.replace("\n"," ")
lyrics = lyrics.lower()
lyrics = lyrics.replace("tell me","@@@@@@@")
lyrics

'너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애태운지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해 말해줘요 원더걸스 @@@@@@@ @@@@@@@ @@@@@@@ you want me want me want me too @@@@@@@ @@@@@@@ @@@@@@@ you love me too love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ tell tell tell tell tell @@@@@@@ '

In [43]:
lyrics = lyrics.replace("  "," ")
lyrics[:-1]

'너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애태운지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해 말해줘요 원더걸스 @@@@@@@ @@@@@@@ @@@@@@@ you want me want me want me too @@@@@@@ @@@@@@@ @@@@@@@ you love me too love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ tell tell tell tell tell @@@@@@@'

## 리스트, 튜플
- 리스트 데이터 조작o (리스트는 할당 x, 문자열은 할당 o), 튜플 데이터 조작 x

### 데이터 조작
- 문자열 : 덧셈연산
- 리스트 : append, insert

In [44]:
menu = "짜장면, 짬뽕, 탕수육"
menu = menu + ", 군만두"
menu

'짜장면, 짬뽕, 탕수육, 군만두'

In [45]:
# 뒤에 추가
menu = ["짜장면", "짬뽕", "탕수육"]
menu.append("군만두")
menu

['짜장면', '짬뽕', '탕수육', '군만두']

In [46]:
# 위치 지정 추가
menu.insert(1, "팔보채")
menu

['짜장면', '팔보채', '짬뽕', '탕수육', '군만두']

### 데이터 제거
- 문자열 :replace
- 리스트 : del, remove, pop

In [47]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace(", 군만두","")
menu

'짜장면, 짬뽕, 탕수육'

In [48]:
menu = ["짜장면", "팔보채", "짬뽕", "탕수육", "군만두"]
del menu[4]
menu

['짜장면', '팔보채', '짬뽕', '탕수육']

In [49]:
menu.remove("팔보채")
menu

['짜장면', '짬뽕', '탕수육']

In [50]:
# 마지막 지우기
menu.pop()
menu

['짜장면', '짬뽕']

### 데이터 교체
- 문자열 : replace
- 리스트 : 딱히 함수 x

In [51]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace("군만두","팔보채")
menu

'짜장면, 짬뽕, 탕수육, 팔보채'

In [52]:
menu = ['짜장면', '팔보채', '짬뽕', '탕수육', '군만두']
menu[1] = "유산슬"
menu

['짜장면', '유산슬', '짬뽕', '탕수육', '군만두']

In [53]:
# apple -> pineapple
fruit = [["mango", "grape"],["appple", "banana", ["melon","watermelon"]]]
fruit[1][0] = "pineapple"
fruit

[['mango', 'grape'], ['pineapple', 'banana', ['melon', 'watermelon']]]

### 반복문
- while 명제(멈추는 거의 반대) : 명제가 참인 한 실행되는 코드

### 무한루프를 피하는 방법
1. 특정 조건에서 while문에 걸려 있는 명제가 거짓이 되도록 설계한다.
2. break를 사용한다.

In [54]:
n = 0
while n <3:
    print(n)
    n = n+1

0
1
2

In [56]:
n = 0
while True:
    print(n)
    n = n+1
    if n >= 3:
        break
    else:
        pass

0
1
2

### 1000이 넘는 최초의 43의 배수를 찾고 싶습니다.

In [57]:
n = 1000
while n%43 != 0:
    n = n+1
print(n)

1032

In [58]:
n = 1000
while True:
    n = n+1
    if n%43 == 0:
        print(n)
        break
    else:
        pass

1032

### 10000이 넘는 수 중에서, 가장 작은 43과 67의 공배수를 구해주세요

In [62]:
n = 10000
while (n%43 != 0) or (n%67 != 0):
    n = n+1
print(n)

11524

In [63]:
n = 10000
while True:
    n = n+1
    if (n%43 == 0) and (n%67 == 0):
        print(n)
        break
    else:
        pass

11524

In [ ]:
# for문

- for 변수 in 순서가 있는 자료형:
    코드

In [65]:
for i in [1,2,3,4]:
    print(i**2)

1
4
9
16

### 3단뽑기

- 3 x 1 = 3
- 3 x 2 = 6
- ....
- 3 x 9 = 27

In [67]:
for i in range(1,10):
    result = 3 * i
    print(f"3 x {i} = {result}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [70]:
list(range(10))
# range(10) = 10번, 0~9, 길이가 10
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
n = 0
a = [1,2,3,4,5,6,7]
b = [2,4,3,6,5,3,7]
for i in range(len(a)):
    if a[i] == b[i]:
        n = n+1
    else:
        pass
print(n)

3

### 구구단 뽑기!

- 1 x 1 = 1
- 1 x 2 = 2
- ...
- 9 x 8 = 72
- 9 x 9 = 81

In [81]:
for i in range(1,10):
    print(f"\n{i}단 시작!")
    for w in range(1,10):
        print(f"{i} x {w} = {i*w}")

1단 시작!
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

2단 시작!
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단 시작!
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단 시작!
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단 시작!
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단 시작!
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단 시작!
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단 시작!
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단 시작!
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [82]:
for i in range(10):
    print(1/(7-i))

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0

ZeroDivisionError: division by zero

In [ ]:
try:
    에러가 날 수도 잇는 코드가 에러가 나지 않을 경우에 실행될 코드
except:
    에러가 날 수도 있는 코드가 에러가 났을 때 실행될 코드

In [85]:
for i in range(10):
    try:
        print(1/(7-i))
    except:
        print("에러가 났습니다!")

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
에러가 났습니다!
-1.0
-0.5

In [86]:
# python 허용, 개발자 허용 x -> raise exception
a = int(input("3의 배수를 입력하세요 : "))
if a %3 != 0:
    raise Exception("너 혼난다!")
else:
    print(a)

3의 배수를 입력하세요 : 2

Exception: 너 혼난다!

In [87]:
a = 0
b = 0
for i in range(1,101):
    a = a + i
    b = b + i**2
print(a**2 - b)

25164150

### 딕셔너리

In [95]:
gg = {"사과" : 800, "바나나": 1000, "포도" : 800}
gg["사과"]

800

In [96]:
gg["파인애플"] = 1200
gg

{'사과': 800, '바나나': 1000, '포도': 800, '파인애플': 1200}

In [97]:
del gg["파인애플"]
gg

{'사과': 800, '바나나': 1000, '포도': 800}

In [98]:
# for gg 중 key 중심으로 
for i in gg:
    print(i)

사과
바나나
포도

In [100]:
gg.keys()

dict_keys(['사과', '바나나', '포도'])

In [101]:
gg.values()

dict_values([800, 1000, 800])

- 물가가 10% 올랐습니다!
- gg 딕셔너리의 각 가일의 가격을 10% 올려주세요!

In [102]:
for i in gg:
    gg[i] = int(gg[i] * 1.1)
gg

{'사과': 880, '바나나': 1100, '포도': 880}

- 전국 사과 가격의 평균을 구해주세요

In [113]:
ggg = {"서울점":{"사과":800,"바나나":1000,"포도":800},
       "부산점":{"사과":700,"바나나":900,"포도":9000},
       "대구점":{"사과":750,"바나나":800,"포도":1000}}

In [119]:
result = 0
for i in ggg:
    result = result + ggg[i]["사과"]
print(int(result/len(ggg)))

750

- def 함수

In [120]:
def add(x,y):
    return x + y

In [121]:
add(2,3)

5