In [2]:
csb = {"이름" : "홍길동", "나이" : 20, "키" : 168}

class1_4 = {"이름" : ["홍길동","김철수","최영희"],
           "나이" : [20,21,22],
           "키" : [168,177,180]}

In [3]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [4]:
class1_4["발 사이즈"] = [240,250,270]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 180],
 '발 사이즈': [240, 250, 270]}

In [5]:
class1_4.keys()

dict_keys(['이름', '나이', '키', '발 사이즈'])

In [6]:
del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 180]}

In [7]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 180]])

In [8]:
for i in class1_4:
    print(i)

이름
나이
키

In [9]:
"이름" in class1_4

True

In [10]:
"홍길동" in class1_4

False

### class1_4의 "이름" key에 할당된 value들을 전부 성을 땐 이름들로 출력하고 싶습니다.

- 홍길동 > 길동
- 김철수 > 철수
- 김영희 > 영희

In [12]:
new_names = []
for i in class1_4["이름"]:
    print(i[1:])
    new_names.append(i[1:])

길동
철수
영희

In [13]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]